.ventana {
	margin-top: 10px;
	width: 700px;
	height: 640px;
}

.cuerpo {
	height: 600px;
	width: 700px;
	text-align: left;		
}

.cuerpo img {
	width: 100px;
	margin: 20px;
}

.cuerpo label {
	width: 100%;
	display: block;
	margin-top: 10px	
}

input {
	width: 300px;
}

form {
	display: flex;
	flex-wrap: wrap;
}

.contenido {
	width: 350px;
	padding: 0 20px;
}

.dire {
	height: 80px;
	width: 300px;
	resize: none;
}

#logo {
	height: 100px;
	margin-bottom: 30px;
	padding: 0 90px;
}

.logoIMG {
	background: white;
}

#cargarL {
	background: black;
	color: white;
}
