.ventana {
	margin-top: 10px;
	width: 700px;
	height: 700px;
}

.cuerpo {
	height: 660px;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}

.F1, .F2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#cedula {
	width: 100px;
}

.F1 input[type=date] {
	height: 20px;
}

input[type=text] {
	width: 300px;
}

.cuerpo label {
	display: block;
	margin-top: 10px;
}

textarea {
	width: 660px;
	height: 120px;
    resize: none;
}

.areaLegal {
	height: 185px;
}

.F1 select {
	width: 300px;
	height: 20px;
}

.F2 textarea {
	width: 310px;
}

.agregar {
	width: 40px;
	margin-left: 5px;
	cursor: pointer;
	margin-bottom: -15px;
}

.agregar1 {
	width: 30px;
	cursor: pointer;
	float: right;
	margin-top: -5px;
	margin-bottom: 10px;
}